<html>
  <head>
    <title>Sign up page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
  </head>
  <body>
    <h1 class= "text-center">Welcome to UML-Gen!</h1>
    <h2 class = "text-center">Sign up below.</h1>
    <div class = "col-md-4 col-md-offset-5">
    <form method="POST">
      Username: <br />
      <input type="text" name="username" /> <br />
      Password: <br />
      <input type="password" name="password" /> <br />
      <button type="submit">Sign up</button>
    </form>
    </div>
  </body>
</html>
